In [2]:
import pandas as pd

## 读入数据

In [3]:
% time allrawdata = pd.read_csv('allrawdata.csv')

Wall time: 7.25 s

In [6]:
allrawdata.head()

,Unnamed: 0,link_ID,date,travel_time,time_interval_start,time_interval_end
0,7423266,4377906289425800514,2016-03-01,28.9,2016-03-01 00:00:00,2016-03-01 00:02:00
1,7432294,4377906280913600514,2016-03-01,3.0,2016-03-01 00:00:00,2016-03-01 00:02:00
2,7407905,4377906288869500514,2016-03-01,11.0,2016-03-01 00:00:00,2016-03-01 00:02:00
3,7435404,4377906283525800514,2016-03-01,60.7,2016-03-01 00:00:00,2016-03-01 00:02:00
4,7410686,4377906284525800514,2016-03-01,75.8,2016-03-01 00:00:00,2016-03-01 00:02:00

## 插入hour

In [8]:
%time allrawdata['time_interval_start']=pd.to_datetime(allrawdata['time_interval_start'])

Wall time: 1.91 s

In [9]:
%time allrawdata['time_interval_end']=pd.to_datetime(allrawdata['time_interval_end'])

Wall time: 1.92 s

In [10]:
% time allrawdata['hour']=allrawdata['time_interval_start'].dt.hour

Wall time: 502 ms

## 切割7点到8点的数据, 并保存

In [18]:
% time rawdata_78 = allrawdata.query("hour==7 or hour==8")

Wall time: 128 ms

In [22]:
% time rawdata_78.to_csv('rawdata_78.csv')

Wall time: 7.63 s

## 查看数据

In [12]:
allrawdata.head()

,Unnamed: 0,link_ID,date,travel_time,time_interval_start,time_interval_end,hour
0,7423266,4377906289425800514,2016-03-01,28.9,2016-03-01,2016-03-01 00:02:00,0
1,7432294,4377906280913600514,2016-03-01,3.0,2016-03-01,2016-03-01 00:02:00,0
2,7407905,4377906288869500514,2016-03-01,11.0,2016-03-01,2016-03-01 00:02:00,0
3,7435404,4377906283525800514,2016-03-01,60.7,2016-03-01,2016-03-01 00:02:00,0
4,7410686,4377906284525800514,2016-03-01,75.8,2016-03-01,2016-03-01 00:02:00,0

In [20]:
rawdata_78.head()

,Unnamed: 0,link_ID,date,travel_time,time_interval_start,time_interval_end,hour
15394,7430427,4377906288593600514,2016-03-01,6.4,2016-03-01 07:00:00,2016-03-01 07:02:00,7
15395,7403320,4377906288893600514,2016-03-01,5.8,2016-03-01 07:00:00,2016-03-01 07:02:00,7
15396,7424567,4377906286169500514,2016-03-01,10.2,2016-03-01 07:00:00,2016-03-01 07:02:00,7
15397,7391730,4377906284769500514,2016-03-01,0.8,2016-03-01 07:00:00,2016-03-01 07:02:00,7
15398,7415208,4377906288738500514,2016-03-01,4.8,2016-03-01 07:00:00,2016-03-01 07:02:00,7