In [1]:
import pandas as pd
import seaborn as sns
% matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#导入总数据
% time allrawdata = pd.read_csv('gy_contest_link_traveltime_training_data.txt',nrows=10000000,sep=';') # 车流量数据

Wall time: 7.96 s

In [ ]:
#总数据把time_interval切割成time_interval_start和time_interval_end
# % time ID_4377906289869500514[['t0','t1']]=ID_4377906289869500514['time_interval'].str.replace('[','').str.replace(')','').str.split(',',expand=True)

## 对time_interval列进行处理

In [5]:
% time allrawdata = allrawdata.sort_values(by='time_interval')

Wall time: 4.19 s

In [7]:
% time allrawdata[['t0_tmp','t1_tmp']] = allrawdata['time_interval'].str.split(',',expand=True)

Wall time: 13 s

In [9]:
% time allrawdata['t0_tmp']=allrawdata['t0_tmp'].str.replace('[','')

Wall time: 3.51 s

In [10]:
% time allrawdata['t1_tmp']=allrawdata['t1_tmp'].str.replace(')','')

Wall time: 3.7 s

In [12]:
% time allrawdata['t0_tmp'] = pd.to_datetime(allrawdata['t0_tmp'])

In [13]:
% time allrawdata['t1_tmp'] = pd.to_datetime(allrawdata['t1_tmp'])

Wall time: 2.51 s

In [15]:
allrawdata.rename(columns={'t0_tmp':'time_interval_start', 't1_tmp':'time_interval_end'}, inplace = True)

## 检查是否有数据缺失

In [23]:
allrawdata.isnull().sum()

link_ID                0
date                   0
travel_time            0
time_interval_start    0
time_interval_end      0
hour                   0
dtype: int64

## 删除原time_interval列

In [20]:
del allrawdata['time_interval']

In [27]:
allrawdata.head(10)

,link_ID,date,travel_time,time_interval_start,time_interval_end
7423266,4377906289425800514,2016-03-01,28.9,2016-03-01,2016-03-01 00:02:00
7432294,4377906280913600514,2016-03-01,3.0,2016-03-01,2016-03-01 00:02:00
7407905,4377906288869500514,2016-03-01,11.0,2016-03-01,2016-03-01 00:02:00
7435404,4377906283525800514,2016-03-01,60.7,2016-03-01,2016-03-01 00:02:00
7410686,4377906284525800514,2016-03-01,75.8,2016-03-01,2016-03-01 00:02:00
7404255,4377906281234600514,2016-03-01,2.0,2016-03-01,2016-03-01 00:02:00
7439676,4377906283422600514,2016-03-01,2.2,2016-03-01,2016-03-01 00:02:00
7406541,4377906287663800514,2016-03-01,14.3,2016-03-01,2016-03-01 00:02:00
7429321,3377906282328510514,2016-03-01,20.0,2016-03-01,2016-03-01 00:02:00
7459286,4377906289244800514,2016-03-01,8.3,2016-03-01,2016-03-01 00:02:00

## 数据存盘

In [28]:
% time allrawdata.to_csv('allrawdata.csv')

In [29]:
del allrawdata